/*-------------
 	General
-------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font: normal 16px sans-serif;
	color: #555;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block; /* or use display: inline; */
  margin-right: 10px; /* Add margin between list items */
}

nav a {
  text-decoration: none;
  color: #fff; /* Adjust the color as needed */
  padding: 10px; /* Add padding for better styling */
}

nav a:hover {
  color: #e34f26; /* Change color on hover as needed */
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;

	opacity: 0.9;
}

a:hover{
	opacity: 1;
}

a.btn,
input.btn{
	color: #fff;
	border-radius: 4px;
	text-trans: uppercase;
	background-color: #e34f26;
	font-weight: 800;
	text-align: center;
}
section h2{
  font: bold 30px 'Quicksand', sans-serif;
}
hr{
	width: 150px;
	height: 2px;
	background-color: #e34f26;
	border: 0;
	margin-bottom: 30px;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 40px;
}

section h3.title{
	color: #414a4f;
	text-trans: capitalize;
	font: bold 48px 'Quicksand', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}
section p{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


/*-------------
 	Header
-------------*/

header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;
}

header h2{
	font:'Quicksand', sans-serif;
	font-weight: 300;
	font-size: 16px;
}

header nav{
	display: flex;
}

header nav li{
	margin: 0 15px;
}

/*----------------
 	Hero Section
----------------*/

.hero{
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}

.hero .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-attachment: fixed;
	background-size: cover;
	background-color: #414a4f;
	z-index: -1;
}

.hero .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #414a4f;
	opacity: 0.90;
}

.hero h1{
	font: bold 70px 'Quicksand', sans-serif;
	margin-bottom: 15px;
	font-weight: 600;
}

.hero h1 span {
	color: #e34f26;
	font-size: 90px;
}

.hero .holder {
	width: 100%;
	max-width: 700px;
	margin-bottom: 15px;
}

.hero h3{
	font: normal 28px 'Quicksand', sans-serif;
	margin-bottom: 40px;
	font-weight: 300;
}

.hero a.btn{
	padding: 20px 46px;
}

@media (max-width: 800px){

	.hero{
		min-height: 600px;
	}

	.hero h1{
		font-size: 48px;
	}

	.hero h3{
		font-size: 24px;
	}

	.hero a.btn{
		padding: 15px 40px;
	}

}



/*--------------------
 	Images Section
---------------------*/

.images{
	background-color: #fff;
}

.images .grid li{
	padding: 20px;
	height: 350px;
	border-radius: 3px;

	background-clip: content-box;
	background-size: cover;
	background-position: center;
	background-color: #333;
}

.images .grid li.small{
	flex-basis: 40%;
}

.images .grid li.large{
	flex-basis: 60%;
}

/*---------------------
 	Contact Section
---------------------*/

.contact{
	background-color: #f7f7f7;
}

.contact div{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	max-width: 900px;
	width: 80%;
}

.contact input{
	padding: 15px;
	flex: 1;
	margin-right: 30px;
	font-size: 18px;
	color: #555;
}

.contact  input.btn{
	padding: 18px 42px;
	border: 0;
	color: #FFF;
	margin-right: 0;
}

.contact  input.btn:hover{
	cursor: pointer;
	opacity: 0.9;
}
.contact ul {
  list-style: none;
  padding: 0; /* Remove default padding */
}

.contact li {
  margin-bottom: 30px; /* Adjust the margin as needed */
}

/*-------------
 	Footer
-------------*/

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #414a4f;
	padding: 60px 0;
}

footer ul{
	display: flex;
	margin-bottom: 25px;
	font-size: 32px;
}

footer ul li{
	margin: 0 8px;
}

footer p{
	text-trans: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
}

footer p a{
	color: #fff;
}

@media (max-width: 700px){

	footer{
		padding: 80px 15px;
	}

}
